@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
}

.transparent {
	background-color: transparent;
}

a:hover {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

button:focus {
	outline: none;
}

button {
	border: none;
}