@charset "UTF-8";

.home {
	display: block;
	min-height: 100%;
	width: 1000px; height : 100%;
	padding-bottom: 150px;
	height: 100%; padding-bottom : 150px;
	padding-top: 100px;
}

.homeTitleBox {
	display: flex;
	justify-content: space-between;
	height: 29px;
	line-height: 29px;
	margin-top: 68px;
	margin-bottom: 24px;
}

.homeTitle {
	font-size: 20px;
	font-weight: 700;
}

.home_more-box {
	display: flex;
	align-items: center;
	color: #4285f4;
	font-weight: 600;
	font-size: 14px;
}

.home_more-box:hover {
	color: #4285f4;
}

.home_tags {
	display: flex;
	height: 45px;
}

.home_tag {
	height: 45px;
	font-size: 12px;
	margin-right: 20px;
	background-color: white;
	color: #495057;
	cursor: pointer;
}

.homeTagClick {
	font-weight: 700;
	color: #4285f4;
	border-bottom: 2px solid #4285f4;
}

.homeTagHr {
	margin: 0px;
	margin-bottom: 24px;
}

.products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.homeCoordi {
	display: flex;
	justify-content: space-between;
	height: 839px;
	flex-wrap: wrap;
}

.home_stores {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow-y: hidden;
}

.home_store {
	text-decoration: none;
}

.home_store:hover {
	cursor: pointer;
}

.home_store-rank {
	color: #4285f4;
	font-size: 12px;
	font-weight: 500;
	text-align: left;
}

.home_store-picture {
	display: flex;
	background-color: #fff;
	width: 56px;
	height: 56px;
	margin-top: 6px;
	border-radius: 100%;
	border: 1px solid silver;
}

.home_store-img {
	width: 100%;
	border-radius: 100%;
}

.home_store-name {
	font-size: 12px;
	margin-top: 4px;
	color: #495057;
	text-align: left;
}