@charset "UTF-8";

.product_main {
	display: block;
	min-height: auto;
	width: 1000px;
	height: 100%;
	padding-bottom: 150px;
	padding-top: 148px;
	height: 100%;
}

.search_title {
	font-weight: 700;
	text-align: left;
	color: #212529;
	height: 29px;
	font-size: 20px;
	margin-bottom: 39px;
}

.search_filter-container {
	display: flex;
}

.search_filter-list {
	display: flex;
	flex: 1 1;
	height: 40px;
	border-radius: 4px;
}

.select_select {
	box-sizing: border-box;
	user-select: none;
	width: 124px;
	height: 40px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	padding-left: 12px;
	border: 1px solid #c7cdd4;
	background-position: right 8px center;
	background-size: 18px;
	background-position: right 8px center;
}

.search_filter-item {
	list-style: none;
	margin-right: 16px;
}

.rangePrice_price {
	position: relative;
	text-align: left;
	border: 1px solid #c7cdd4;
	line-height: 40px;
	z-index: -1;
}

.rangePrice_hidden {
	display: none;
}

.rangePrice_dimmed-layer {
	display: none;
	position: absolute;
	background-color: #000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .8;
	background-color: #000;
}

.rangePrice_Box {
	position: absolute;
	background: #fff;
	box-sizing: border-box;
	width: 280px;
	padding: 24px;
	border: 1px solid #c7cdd4;
	border-radius: 5px;
	top: 43px;
	left: -1px;
}

.pangePrice_header {
	display: flex;
	margin-bottom: 24px;
	height: 24px;
}

.rangePrice_sub-title {
	color: #343a40;
	font-size: 14px;
	font-weight: 600;
	height: 24px;
	line-height: 24px;
	width: 100%;
}

.rangePrice_close {
	cursor: pointer;
	color: #b0b8bf;
}

.rangePrice_range-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.rangePrice_price-value {
	color: #495057;
	height: 40px;
	line-height: 24px;
	margin-bottom: 16px;
}

.rangePrice_price-input {
	box-sizing: border-box;
	width: 100px;
	height: 20px;
	font-size: 14px;
	border-radius: 4px;
	padding-left: 12px;
	border: 1px solid #c7cdd4;
}

.rangePrice_button-wrapper {
	display: flex;
	justify-content: flex-end;
}

.rangePrice_btn {
	padding: 0;
	line-height: 1;
}

.rangePrice_reset {
	font-weight: 700px;
	color: #666e75;
	margin-right: 24px;
	color: #666e75;
}

.rangePrice_apply {
	font-weight: 800;
	color: #4285f4;
}

.search_keyword-wrapper {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #c7cdd4;
	width: 239px;
	height: 40px;
	padding-left: 12px;
}

.search_keyword-keyword {
	box-sizing: border-box;
	border: none;
	flex: 1 1;
	font-size: 14px;
	margin-right: 6px;
}

.search_keyword-keyword::placeholder {
	color: #b0bfd6;
}

.search_keyword-button {
	cursor: pointer;
	color: #4285f4;
	padding: 0;
	width: 24px;
	height: 24px;
	margin-right: 12px;
}

.displayContainer_container {
	display: flex;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
}

.displayContainer_container-display {
	display: none;
}

.displayContainer_visible {
	display: flex;
	align-items: center;
	height: 100%;
}

.displayContainer_container-text {
	color: #4285f4;
	font-weight: 800;
}

.displayContainer_container-reset {
	cursor: pointer;
	background-color: #fff;
	border: .5px solid #868e96;
	height: 24px;
	line-height: 17px;
	border-radius: 22px;
	padding: 2px 7px 3px 5px;
}

.search_product {
	display: flex;
	flex-wrap: wrap;
}